<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.5.1" targetFramework="net462" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net462" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="10.0.0-rc.1.25451.107" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net462" />
</packages>